<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.lzm.ads.mintegral">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 如果是国内流量版本SDK ，以下三条权限建议加上 -->
    <!-- MTG-SDK不强制获取以下权限，即使没有获取可选权限SDK也能正常运行；获取以上权限将帮助Mintegral优化投放广告精准度和用户的交互体验，提高eCPM-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!-- MTG将通过此权限在Android R系统上判定广告对应的应用是否在用户的app上安装，避免投放错误的广告，以此提高用户的广告体验。 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <application>
        <!--国内流量版本必需，海外版本可以不添加。
        <provider
            android:name="com.mbridge.msdk.foundation.tools.MBFileProvider"
            android:authorities="${applicationId}.mbFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mb_provider_paths"/>
        </provider>-->
    </application>
</manifest>